* {
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 3px !important;
}
.register-form {
	background-color: #f5f5f5;
}
.reg-form {
	border-radius: 12px;
}
.reg-con {
	height: 100vh;
}
.p-title {
	font-weight: 600;
	font-size: 18px;
	margin-top: 7px;
}
.p-subtitle {
	line-height: 30px;
	font-weight: 500;
}
.progress.content {
	color: black !important;
}
